footer {
  color: #555559;
}

strong {
  font-size: 1.5em;
}

.title {
  background: url(/sites/all/themes/tenablefourteen/img/16/bg-generic.png), linear-gradient(180deg, #430098, #0071CE), #00A5B5;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.title h1 {
  padding: 0.5em 0;
  font-size: 4em;
  font-weight: 400;
}

title p {
  font-size: 1.125em;
}

.flex-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
}

.flex-one,
.flex-two {
  width: 100%;
  background-color: #fff;
  color: #fff;
  margin-bottom: 2em;
  padding: 1em;
}

.flex-one p,
.flex-two p {
  font-size: 1.125em;
  text-shadow: 2px 2px 5px #263746;
}

.flex-one.flex-fewer,
.flex-two.flex-fewer {
  background: url("/sites/all/themes/tenablefourteen/img/backgrounds/bg-dots.png") center center no-repeat, linear-gradient(0deg, #00236d, #003bba);
  background-color: #0033a0;
}

.flex-one.flex-same,
.flex-two.flex-same {
  background: url("/sites/all/themes/tenablefourteen/img/backgrounds/bg-dots.png") center center no-repeat, linear-gradient(0deg, #00559b, #028dff);
  background-color: #0071ce;
  margin-top: -1em;
  margin-bottom: 1em;
}

.flex-one.flex-more,
.flex-two.flex-more {
  background: url("/sites/all/themes/tenablefourteen/img/backgrounds/bg-dots.png") center center no-repeat, linear-gradient(0deg, #21004c, #4e00b2);
  background-color: #430098;
}

@media (min-width: 38em) {
  .flex-one,
.flex-two {
    width: 47%;
  }
}
@media (min-width: 64em) {
  .flex-one {
    width: 23%;
  }

  .flex-two {
    width: 32%;
  }
}
.gray {
  background: #f5f5f5;
}

.lightgray {
  background: #fff;
}

/* Bobby's CSS */
body,
html {
  overflow-x: hidden;
}

.carousel--wrapper {
  /* max-width: 940px; */
  width: 100%;
  position: relative;
  /* margin: 0 auto; */
}

.carousel--wrapper--sec {
  overflow: visible;
}

/*
.carousel--wrapper--sec:after, .carousel--wrapper--sec:before {
  content: "";
  position: absolute;
  width: 800px;
  height: 100%;
  top: 0;
  left: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 2;
}

.carousel--wrapper--sec:before {
  left: -800px;
}
*/
.carousel {
  width: 100%;
  position: relative;
}

.carousel .progress-bar {
  position: relative;
  background-color: #fff;
  height: 2em;
}

.carousel .progress-bar .progress-bar-insider {
  position: relative;
  background-color: #00a5b5;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  width: 4%;
  height: 2em;
  transition: 0.2s width;
}

.carousel .progress-bar .progress-bar-insider:after {
  content: attr(data-progress);
  color: white;
  position: absolute;
  right: 0.5em;
  top: 50%;
  transform: translateY(-50%);
}

.carousel .carousel__content {
  width: auto;
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transition: translate3d(0, 0, 0);
}

.carousel .carousel__content .carousel--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  float: left;
  height: 25rem;
  background-color: #425363;
}

.carousel .carousel__content .carousel--item.teal {
  background-color: #00A5B5;
}

.carousel .carousel__content .carousel--item.accent-teal {
  background-color: #00839B;
}

.carousel .carousel__content .carousel--item.violet {
  background-color: #33006F;
}

.carousel .carousel__content .carousel--item.accent-violet {
  background-color: #33006F;
}

.carousel .carousel__content .carousel--item.blue {
  background-color: #002F87;
}

.carousel .carousel__content .carousel--item.accent-blue {
  background-color: #0071CE;
}

.carousel .carousel__content .carousel--item .carousel--title {
  transform: translateY(-50px);
  padding: 0;
  margin-bottom: 0;
  font-size: 3rem;
  width: 100%;
  text-align: center;
  color: #fff;
  opacity: 0.6;
}

.carousel .carousel__content .carousel--item .carousel--title--sub {
  font-size: 1.2em;
  /*padding: 0 16%;*/
  max-width: 40em;
  opacity: 1;
}

.carousel .carousel__content .carousel--item .carousel--radios {
  font-size: 2em;
  color: #fff;
  opacity: 1;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.radio-item {
  display: flex;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  margin: 0 2em;
}

.carousel .carousel__content .carousel--item .carousel--btn {
  font-size: 2em;
}

.carousel .carousel__nav {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -17px;
  left: 0;
  z-index: 1;
}

.carousel .carousel__nav .nav--buttons {
  position: absolute;
  top: 0;
  color: rgba(255, 255, 255, 0.75);
  background: rgba(255, 255, 255, 0.5);
  padding: 12px 12px;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.5rem;
  transition: padding 0.25s ease;
}

.carousel .carousel__nav .nav--buttons:hover {
  padding: 15px 15px;
}

.carousel .carousel__nav .nav--buttons--left {
  border-radius: 0px 3px 3px 0px;
}

.carousel .carousel__nav .nav--buttons--right {
  right: 0;
  border-radius: 3px 0px 0px 3px;
}

label {
  padding: 0.25em 0 0;
  cursor: pointer;
}

input[type=radio] {
  appearance: none;
  -moz-appearance: none;
  margin: 0 1em;
  width: 0.6em;
  height: 0.6em;
  background: #eeeeee;
  box-shadow: inset 0 0 0 0.4em #fff, 0 0 0 0.2em;
  border-radius: 50%;
  transition: 0.2s;
  cursor: pointer;
  color: #ddd;
  text-align: center;
  -ms-flex-item-align: center;
  align-self: center;
}

input[type=radio]:hover, input[type=radio]:checked {
  background: #000;
  box-shadow: inset 0 0 0 0.5em #fff, 0 0 0 0.25em #00A5B5;
}

input[type=radio]:checked {
  background: #000;
  box-shadow: inset 0 0 0 0.4em #fff, 0 0 0 0.2em #00A5B5;
}

input[type=radio]:focus {
  outline: 0;
}

.middle-flex {
  margin-top: -1em;
  margin-bottom: 1em;
}

@media (max-width: 40em) {
  .carousel--title {
    top: 20% !important;
    font-size: 2em !important;
  }

  .carousel--title--sub {
    margin-top: 0.5em !important;
    font-size: 1em !important;
  }

  .carousel--radios {
    top: 45% !important;
  }

  .carousel--btn {
    font-size: 1.25em !important;
  }

  .carousel--title {
    font-size: 1.5em !important;
  }

  .carousel--title--sub {
    font-size: 0.9em !important;
  }

  .carousel--radios {
    top: 40% !important;
    font-size: 1.5em !important;
  }

  .full-when-mobile {
    width: 100%;
  }
}
@media (min-width: 30em) and (max-width: 60em) {
  .carousel--radios {
    width: 80% !important;
  }

  .progress-bar-insider {
    font-size: 0.8em;
    padding: 1.25em !important;
  }
}
@media (max-width: 30em) {
  .carousel--radios {
    margin-top: 2em;
    width: 85% !important;
    font-size: 1.2em !important;
  }

  .progress-bar-insider {
    font-size: 0.5em;
    padding: 2em !important;
  }
}
.score-slider-track {
  margin-bottom: 4em;
  position: relative;
  border-radius: 0.125em;
  background: linear-gradient(90deg, #ccc, #888);
  box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.375);
  height: 3em;
  width: 100%;
}

.score-slider-track .score-slider {
  position: relative;
  height: 5em;
  width: 10%;
  background-color: #0071CE;
  color: #fff;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.25);
  transform: translateX(-5%);
  top: -1em;
  left: 0%;
  transition: 0.8s;
  border-radius: 0.125em;
  line-height: 5em;
  font-weight: bold;
  z-index: 3;
}

.score-slider-track .score-slider-less {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
  background-color: #0033A0;
  color: #fff;
  line-height: 3em;
  height: 3em;
  width: 0%;
  transition: 0.8s;
}

.score-slider-track .score-slider-more {
  position: absolute;
  color: white;
  line-height: 3em;
  top: 0;
  right: 0;
  z-index: 0;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
  background-color: #430098;
  color: #fff;
  height: 3em;
  width: 98%;
  transition: 0.8s;
}